@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    text-decoration: underline;
}